* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding-top: 60px;
}

.navbar-item img {
  max-height: 2.75rem;
}
#buttonlogin {
  background-color: rgb(216, 22, 38);
  color: whitesmoke;
}
#loginIcon {
  padding-right: 8px;
}
@media screen and (min-width: 1024px) {
  #logoid{
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1)
  }
}

#navbarMain{
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1)
}
@media screen and (min-width: 1024px) and (max-width: 1250px) {
  #responsiveButton {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
  }
}
/* FIM DA NAVBAR */
/*INICIO DO MEU SLIDE*/
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-container {
  margin-left: auto;
  margin-right: auto;
}
/*FINAL DO MEU SLIDE*/

.title{
  text-align: center;
}
.section.is-large {
  padding: 5rem 6rem;
}


.blue{
  color: rgb(0, 59, 113)
}
.red{
  color: rgb(216, 22, 38);
}


.aProduct {
  background-color: rgb(216, 22, 38);
  color: white;
  border-radius: 4px;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  transition: transform 0.3s ease-in-out;
}
.aProduct:hover {
  transform: scale(1.1);
  color: white;
}
